
<div class="gagan">

  <div class="flash">
    {{#if flash}}
      <p> {{flash}} </p>
    {{/if}}

    {{#unless flash}}
      {{#if user}}
        <p> <span> Picture ID {{featured.id}} selected and you are the owner of it <span> </p>
      {{else }}
        <p> <span> Picture ID {{featured.id}} selected and you are not the owner of it <span> </p>
      {{/if}}
    {{/unless}}

  </div>

  <div class="homepage">
    <a href="http://localhost:3000/gallery/">  <img src="/static/image/homepage.jpg" alt=""> </a>
  </div>

</div>

<div class="topBorder"> </div>

<div class="header">

  <div class="headerTitle">
    <h1>_CHARLES AND KALEO_</h1>
  </div>

  <div class="headerDescription">
    <p>Welcome to our online portfolio. The following pictures represent activities and places we are interested in.</p>
  </div>
</div>

<div class="mainDisplayArticle">

  <div class="mainPhoto">
    <p class="firstP">{{featured.author}}</p>
    <img src="{{featured.link}}" alt="Hi">
    <p class="secondP">{{featured.description}}</p>

    <form class="formArticle" method="POST" action="/gallery/{{featured.id}}?_method=DELETE" enctype="application/x-www-form-urlencoded">
      {{#if user}}
      <button class="buttonArticle" type="submit"> DELETE </button>
      <button class="buttonArticle" onclick="location.href='http://localhost:3000/gallery/{{featured.id}}/edit'" type="button"> EDIT </button>
      {{/if}}
    </form>

  </div>

  <div class="rightDisplay">
      {{#each allPhotos}}
    <div class="photos">
      <a href="http://localhost:3000/gallery/{{id}}">  <img src="{{link}}" alt=""> </a>
      <p>{{author}} --- {{description}} </p>
    </div>
      {{/each}}
  </div>

</div>