<h1> Edit the photo in the gallery </h1>

<form method="POST" action="/gallery/{{id}}?_method=PUT" enctype="application/x-www-form-urlencoded">

  <ol>
    <li> Author:        <input name="author" type="textbox" value="{{author}}"> </li>
    <li> Link:          <input name="link" type="textbox" value="{{link}}"> </li>
    <li> Description:   <input name="description" type="textbox" value="{{description}}"> </li>
  </ol>

  <button type="submit"> EDIT </button>

</form>

 <form method="POST" action="/gallery/{{id}}?_method=DELETE" enctype="application/x-www-form-urlencoded">

  <button type="submit"> DELETE </button>

</form>


