<div class="headerButtons">

  <div class="loginDetail">
    {{#if user}}
      <p id="loginDetail"> --You are now connected as <span>{{user.username}}</span>-- </p>
    {{else }}
      <p id="loginDetail"> --You are not logged in-- </p>
    {{/if}}
  </div>

  <form class="newFormLogin" method="GET" action="/login" enctype="application/x-www-form-urlencoded">
    <button class="button3" type="submit">SIGN IN</button>
  </form>

  <form class="newFormLogin" method="GET" action="/user/new" enctype="application/x-www-form-urlencoded">
    <button class="button3" type="submit">SIGN UP</button>
  </form>

  <form class="newFormLogout" method="GET" action="/logout" enctype="application/x-www-form-urlencoded">
    <button class="button3" type="submit">Log Out</button>
  </form>

</div>

<div class="topBorder"></div>

<div class="header">

  <div class="headerTitle">
    <h1>_CHARLES AND KALEO_ {{message}} </h1>
  </div>

  <div class="headerDescription">
    <p>Welcome to our online portfolio. The following pictures represent activities and places we are interested in.</p>
  </div>

  <div class="headerPicture">
    <img src="https://static.pexels.com/photos/115045/pexels-photo-115045.jpeg" alt="">
  </div>

</div>

<div class="mainDisplay">
    {{#each instances}}
  <div class="photos">
    <a href="http://localhost:3000/gallery/{{id}}">  <img src="{{link}}" alt=""> </a>
    <p>{{author}} -- </p>
    <p>{{description}}</p>
  </div>
    {{/each}}
</div>