{{message}}
<div class="title">
{{!-- our title  --}}
  <div class="ourtitle">
    <h3>Charles and Kaleo</h3>
  </div>

  {{!-- our description --}}
  <div class="description">
    <h1>This is our description
    </h1>
  </div>
</div>

{{!-- the listing for the photos --}}
<div class="photoListing">
{{!-- for main photo--}}
  <div class="mainPhoto">
    <img src="{{link}}" alt="">

  {{!-- for other photos --}}
  {{#each gallery}}
  <div class="otherPhotos">
      <img src="{{link}}" alt="">
      <div>{{author}}</div>
      <div>{{description}}</div>
  </div>
  </div>
  {{/each}}
</div>


